/*Activity Navigation*/

.act-pics {
    width: 100%;
    padding-top: 5px;
    border: 2px black;
    border-radius: 8px;
    transition-duration: 0.4s;
}
.act-pics:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.arrow-size {
    width: 50%;
    cursor: pointer;
}

.left {
    float: left;
    padding: 5px;
}
.right {
    float: right;
    padding: 5px;
}

/*Slideshow Grid*/
@media only screen and (max-width: 768px) {
    .slideshow {
        grid-template-columns: 10% 80% 10%;
        display: grid;
    }

    .slideshow-grid-item {
        columns: auto / 1;
        margin: auto;
        text-align: left;
    }
    .browser-slide {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .slideshow {
        grid-template-columns: 10% 40% 40% 10%;
        display: grid;
    }

    .slideshow-grid-item {
        columns: auto / 1;
        margin: auto;
        text-align: left;
    }
    
    .mobile-slide {
        display: none;
    }

    .word-margin {
        margin: 10px;
    }
}

.displayStatus {
    display: none;
}

/*button styling*/
.act_nav {
    background-color: #51626F;
    text-align: center;
    border: white 1px solid;
}

.nav-button {
    font-size: 15px;
    margin-left: 10px; margin-right: 10px;
    margin-top: 10px; margin-bottom: 10px;
    padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;
    background-color: #8996A0;
    border: 2px solid black;
    display: inline-block;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.nav-button:hover {
    background-color: #1A2732;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
