/*Header Image*/
.header-image {
    width: 100%;
    height: 38vw;
    background-image: url("../img/main/headerImage.png");
    background-size: cover;
}

.center {
    text-align: center;
}

.center-form {
    margin: auto;
    display: block;
}

.dt_form_item {
    margin: 5px;
    font-size: 18px;
}

.dd_form_item {
    font-size: 18px;
    margin: 5px;
}
.form-item {
    width: 98%;
    height: 30px;
}
/*Grids*/
.careers-grid {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
}

.form-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.single-item {
    grid-column: auto / span 1;
}

.double-item {
    grid-column: auto / span 2;
}

.hideContent {
    display: none;
}

.Questions {
    font-size: 18px;
}

.Answers {
    margin-bottom: 10px;
}

.desc {
    padding: 5px;
    background-color: #76b5e6;
    border-style: groove;
    color: black;
    font-size: 14px;
}

.bigbox {
    width: 100%;
    height: 200px;
}

.validation {
    font-size: 12px;
}

.submit {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: auto;
}

.submitCareersDisabled {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: auto;
    color: white;
    background-color: gray;
    border: none;
    cursor: pointer;
}