.center {
    text-align: center;
}

.center-form {
    margin: auto;
    display: block;
}

.dt_form_item {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
}

.dd_form_item {
    font-size: 14px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.input-item {
    margin-top: 10px;
    margin-right: 10px;
    width: 200px;
    height: 20px;
}

.big-box {
    margin-top: 10px;
    width: 420px;
    height: 150px;
}

.header-image {
    width: 100vw;
    height: 38vw;
    background-image: url("../img/main/headerImage.png");
    background-size: cover;
}