/*eat navigation*/
h1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.arrow-size {
    width: 50%;
    cursor: pointer;
}

.left {
    float: left;
    padding: 5px;
}
.right {
    float: right;
    padding: 5px;
}

/*Slideshow Grid*/
@media only screen and (max-width: 768px) {
    .slideshow {
        grid-template-columns: 10% 80% 10%;
        display: grid;
    }
    .slideshow-3-col {
        grid-template-columns: 10% 80% 10%;
        display: grid;
    }

    .slideshow-grid-item {
        grid-column: auto / span 1;
        margin: auto;
    }
    .browser-slide {
        display: none;
    }
    .slideshow-1-col {
        grid-template-columns: 10% 80% 10%;
        display: grid;
    }
}

@media only screen and (min-width: 768px) {
    .slideshow {
        grid-template-columns: 10% 40% 40% 10%;
        display: grid;
    }

    .slideshow-1-col {
        grid-template-columns: 10% 80% 10%;
        display: grid;
    }
    
    .slideshow-3-col {
        grid-template-columns: 10% 26% 27% 27% 10%;
        display: grid;
    }

    .slideshow-grid-item {
        grid-column: auto / span 1;
        margin: auto;
    }

    .slideshow-grid-item-long {
        grid-column: auto / span 2;
        margin: auto;
    }

    .word-margin {
        margin: 10px;
    }
    .mobile-slide {
        display: none;
    }
}

.displayStatus {
    display: none;
}

/*button styling*/
.drink_nav {
    background-color: #51626F;
    text-align: center;
    border: white 1px solid;
}

.nav-button {
    font-size: 15px;
    margin-left: 25px; margin-right: 25px;
    margin-top: 10px; margin-bottom: 10px;
    padding-left: 15px; padding-right: 15px; padding-top: 10px; padding-bottom: 10px;
    background-color: #8996A0;
    border: 2px solid black;
    display: inline-block;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.nav-button:hover {
    background-color: #1A2732;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
 .center {
    text-align: center !important;
 }