/*eat navigation*/
h1 {
    margin-bottom: 0;
}
.arrow-size {
    width: 50%;
    cursor: pointer;
}

.left {
    float: left;
    padding: 5px;
}
.right {
    float: right;
    padding: 5px;
}
.eat-select {
    width: 80%;
    height: 30px;
    text-align: center;
    background-color: #8996A0;
    color: white;
}


/*Slideshow Grid*/
@media only screen and (max-width: 768px) {
    .slideshow {
        grid-template-columns: 10% 80% 10%;
        display: grid;
    }

    .slideshow-grid-item {
        grid-column: auto / span 1;
        margin: auto;
    }
    .browser-slide {
        display: none;
    }
    .mobile-eat-nav {
        text-align: center;     
        margin-top: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .slideshow {
        grid-template-columns: 10% 40% 40% 10%;
        display: grid;
    }

    .slideshow-grid-item {
        grid-column: auto / span 1;
        margin: auto;
    }

    .slideshow-grid-item-long {
        grid-column: auto / span 2;
        margin: auto;
    }

    .word-margin {
        margin: 10px;
    }
    .mobile-slide {
        display: none;
    }
    .mobile-eat-nav {
        display: none;
    }
}

.displayStatus {
    display: none;
}

/*button styling*/
.eat_nav {
    text-align: center;
}

.nav-button {
    font-size: 15px;
    margin-left: 10px; margin-right: 10px;
    margin-top: 20px;
    padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;
    background-color: #8996A0;
    border: 0.5px solid black;
    display: inline-block;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    transition-duration: 0.4s;
}

.nav-button:hover {
    background-color: #1A2732;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
 .center {
    text-align: center !important;
 }

.poutine-grid {
    grid-template-columns: auto auto auto;
    display: grid;
    border: 1px solid white;
}

.poutine-grid-item-small {
    grid-column: auto / span 1;
    border: 1px solid white;
    padding: 10px;
}

.poutine-grid-item-medium {
    grid-column: auto / span 2;
    border: 1px solid white;
    padding-top:10px;
    padding-left: 20px;
}

.poutine-grid-item-large {
    grid-column: auto / span 3;
    border: 1px solid white;
}

